*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

header{
    background-color: rgb(100, 48, 48);
}
li{
    list-style: none;
}
a{
    color: rgb(247, 241, 241);
    text-decoration: none;
}
.nav-bar{

min-height: 70px;

}
