*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

header{
    background-color: rgb(219, 219, 219);
}


.nav-bar{

display: flex;
align-items: center;
justify-content: space-between;
padding: 6rem;

}



