*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif; 

}

body{
    background-image: url(natureza-tratamento-alma.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
}   

header{
    background-color: #6b6b75;
    
}   

a{
    color: #fff;
    text-decoration: none;
    transition: 0.5s ease;
}
.navbar{

    display: flex;
    align-items: center;
    gap: 60px;
    justify-content: space-between;
    
    
         
    
}
.navbar :hover{
    color: royalblue;
}
.hanburguer{
    display: none;
    cursor: pointer;

}
.bar{
    display: block;
    width: 28px;
    height: 3px;
    border-radius: 2px;
    margin: 5px auto;
    background-color: #fff;
    transition: all 0.3s ease ease-in-out;
}