.Logo{
    display: flex;
    align-items: center;
}

h1{
color: #fff;

}

.nav-item{
    color: rgb(235, 5, 44);
}
.nav-link{
    color: rgb(33, 175, 68);
}
.nav-list{
   display: flex;
   align-items: center; 
}

.nav-list ul{
  display: flex;
  justify-content: center;
  
}

header{
    background-color: black;
    box-shadow: 0px 5px 10px grey;
}
.nav-bar{
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 6rem;

}
